/*
 * Copyright (c) 2017 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/*
 * PA0 -> ADC1-CH0
 * PA1 -> ADC1-CH1
 * PA2 -> ADC1-CH2
 * PB0 -> ADC1-CH8
 */

&pinctrl {
   	adc1_inputs: adc1_inputs {
		pinmux = <STM32_PINMUX('A', 0, ANALOG)>, <STM32_PINMUX('B', 0, ANALOG)>;
	};

};
